<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to image_tag('guardian_angel_logo.jpeg', alt: 'Guardian Angel Home', class: 'nav-logo-img'), root_path %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link #{'active' if current_page?(root_path)}" do %>
          Home
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to about_path, class: "nav-link #{'active' if current_page?(about_path)}" do %>
          About
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to emergency_services_path, class: "nav-link #{'active' if current_page?(emergency_services_path)}" do %>
          Emergency Services
        <% end %>
      </li>
    </ul>
  </div>
</nav>