<div class="welcome-section">
  <h2>Welcome to</h2>
  <h1>Guardian Angel</h1>
  <%= image_tag 'guardian_angel_logo.jpeg', class: 'logo' %>
  <p>Develop your mental wellness with the guidance of Guardian Angel</p>
  <%= button_to "Log In", class: 'button'%> <br>
  <%= button_to "Sign Up", new_user_path, class: 'button' %> <br>
  <%= button_to "Emergency Services", services_path, class: 'button' %>
</div>


