<div class="welcome-section">
  <h2>About</h2>
  <h1>Guardian Angel</h1>
  <%= image_tag 'guardian_angel_logo.jpeg', class: 'logo' %>
  <p> "Guardian Angel" is dedicated to providing a secure and supportive environment for individuals seeking assistance with mental health challenges. We offer a comprehensive range of resources addressing various issues, including but not limited to suicide prevention, depression, anxiety, and abuse.
  Additionally, we provide a platform for users to document their thoughts through journaling. Research has demonstrated that journaling can significantly enhance mental well-being, and we are confident that articulating one's thoughts and concerns can yield substantial benefits for mental health.
  Creating an account is completely free and confidential. Your information, including searches and journal entries, is exclusively for your use. For immediate assistance, please click <%= link_to "HERE", emergency_services_path, class: 'a' %> or use the 'Emergency' button at the top of the page. </p>
</div>

